body {background: #e7d9f7;
}
a{
    color: rgb(75, 5, 92);
    font-size: 15pt;
    font-family: 'Roboto', sans-serif;

}
#img{
  float: left;
  width: 70px;
  height: 70px;
}
h1{
  text-align: center;
  margin-top: 10px;
}
h2{
  font-family: 'Roboto', sans-serif;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 15pt;
}
label{ 
font-family: 'Roboto', sans-serif;
}

table{
  width: 800px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  border-collapse: separate;
  border-spacing: 5px;
  background:  #865aa1;
  color: #414141;
  border: 16px solid #865aa1;
  border-radius: 20px;
  }

  th {
    font-size: 18px;
    padding: 10px;
    color:rgb(209, 209, 209);
    }

    td {
    padding: 10px;
    }

tr.chet{
    background-color:rgb(212, 196, 245);
  }
tr.nechet{
    background-color: rgb(248, 243, 194);
  }
  div{
    background: linear-gradient( rgb(248, 243, 194), #d7baf8 );
    width:100%;
    height:100px;
    font-family: 'Roboto', sans-serif;
  }
  footer{
      width: 100%;
      font-family: 'Roboto', sans-serif;
  }
  .bullet {
    margin-left: 0;
    list-style: none;
    counter-reset: li;
    }
    .bullet li {
    width: 60%;
    position: relative;
    margin-bottom: 1.5em;
    border: 3px solid #865aa1;
    padding: 0.6em;
    border-radius: 4px;
    background: rgb(212, 196, 245);
    color: #231F20;
    font-family: "Trebuchet MS", "Lucida Sans";
    }
    .bullet li:before {
    position: absolute;
    top: -0.7em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-size: 16px;
    font-weight: bold;
    color:  #865aa1;
    background:  rgb(248, 243, 194);
    border-radius: 50%;
    counter-increment: li;
    content: counter(li);
    }